.schedulerData{
    margin: 0 54px 0 24px;
}
.search-add-field{
    position: relative;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.container{
    margin-top: 32px;
}
.add-btn{
    cursor: pointer;
}
.scheduler-card-form{
    position: absolute;
    overflow-y: auto;
    z-index: 1;
    /* display: flex; */
    /* align-items: end; */
    top: 32px;
    right: 85px;
}